@page "/admin"
@inject Identify identify
@{
    if (!identify.IsAdmin)
    {
        Navigation.NavigateTo("/login");
    }
}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Đăng ký</h2>
        <div>
            <div class="form-group">
                <label>account</label>
                <input class="form-control" @bind="userID" />
            </div>
            <div class="form-group">
                <label>password</label>
                <input class="form-control" @bind="password" />
            </div>
            <button class="btn btn-success" @onclick="regis">Regis</button>
            <button class="btn btn-success" @onclick="cleardata">Clear Data</button>
            <input @bind="obj"/>            
            <button class="btn btn-success" @onclick="del">Delete</button>
            <button class="btn btn-success" @onclick="show">Show</button>
            <div>@text</div>
        </div>
    </div>
    <div class="col"></div>
</div>
@code {
    public string obj = "";
    private string text = "";
    private string userID { get; set; } = "";
    private string password { get; set; } = "";

    public void regis()
    {
        if (userID != null && password != null)
        {
            identify.regis(userID, password);
            Navigation.NavigateTo("/login");
        }
    }
    public void cleardata() {
        foreach (var doc in DB.History.SelectAll())
        {
            DB.History.Delete(doc.ObjectId);
        }
        string imagepath = PathParam.Instance.ImagesPath;
        var uploadPathUser = Path.Combine(imagepath, identify.Username);
        if (!Directory.Exists(uploadPathUser))
        {
            Directory.CreateDirectory(uploadPathUser);
        }
        string[] files = Directory.GetFiles(uploadPathUser);

        if (files.Length == 0)
        {
            Console.WriteLine("Không có tệp nào trong thư mục!");
            return;
        }

        foreach (string file in files)
        {
            try
            {
                File.Delete(file); 
                Console.WriteLine($"Đã xóa tệp: {file}");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Lỗi khi xóa tệp {file}: {ex.Message}");
            }
        }
    }
    public void del(){
        try
        {
            DB.History.Delete(obj);
            text = "success";
        }
        catch
        {
            text = "fail";
        }
    }
    public void show()
    {
        string a = "";
        foreach (var doc in DB.History.SelectAll()){
            a += doc.ObjectId + "\n";
        }
        text = a.TrimEnd('\n');
    }
}
